<!--<!doctype html>-->
<!--<html lang="fr" class="minimal-theme" xmlns:th="http://www.thymeleaf.org">-->

<!--<head th:replace="/responsablePedagogique/fragments :: header">-->
<!--    <title></title></head>-->

<!--<body>-->


<!--  &lt;!&ndash;start wrapper&ndash;&gt;-->
<!--  <div class="wrapper" >-->
<!--    &lt;!&ndash;start top header&ndash;&gt;-->
<!--      <header th:replace="/responsablePedagogique/fragments :: topHeader"></header>-->
<!--       &lt;!&ndash;end top header&ndash;&gt;-->

<!--       &lt;!&ndash;start sidebar &ndash;&gt;-->
<!--    <aside th:replace="/responsablePedagogique/fragments :: sidebarWrapper"></aside>-->
<!--       &lt;!&ndash;start sidebar &ndash;&gt;-->

<!--       &lt;!&ndash;start content&ndash;&gt;-->
<!--    <main th:replace="/responsablePedagogique/fragments :: startContent"></main>-->
<!--   &lt;!&ndash;end page main&ndash;&gt;-->


<!--       &lt;!&ndash;start overlay&ndash;&gt;-->
<!--        <div class="overlay nav-toggle-icon"></div>-->
<!--       &lt;!&ndash;end overlay&ndash;&gt;-->

<!--        &lt;!&ndash;Start Back To Top Button&ndash;&gt;-->
<!--        <a href="javaScript:;" class="back-to-top"><i class='bx bxs-up-arrow-alt'></i></a>-->
<!--        &lt;!&ndash;End Back To Top Button&ndash;&gt;-->
<!--        -->
<!--         &lt;!&ndash;start switcher&ndash;&gt;-->
<!--      &lt;!&ndash;<div th:replace="/responsableMatiere/fragments :: switcherBody"></div>&ndash;&gt;-->
<!--       &lt;!&ndash;end switcher&ndash;&gt;-->

<!--  </div>-->
<!--  &lt;!&ndash;end wrapper&ndash;&gt;-->


<!--  &lt;!&ndash; Bootstrap bundle JS &ndash;&gt;-->
<!--  <div th:replace="/responsablePedagogique/fragments :: footerScript"></div>-->
<!--  -->

<!--</body>-->

<!--</html>-->