<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Chargement des styles -->
    <link rel="stylesheet" href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" />
    <link rel="stylesheet" href="../static/css/buttons.dataTables.min.css" th:href="@{/css/buttons.dataTables.min.css}" />
    <link rel="stylesheet" href="../static/css/jquery.dataTables.min.css" th:href="@{/css/jquery.dataTables.min.css}" />

    <!-- Chargement des scripts -->
    <script src="../static/js/jquery-3.7.0.js" th:src="@{/js/jquery-3.7.0.js}"></script>
    <script src="../static/js/bootstrap.js" th:src="@{/js/bootstrap.js}"></script>
    <script src="../static/js/dataTables.buttons.min.js" th:src="@{/js/dataTables.buttons.min.js}"></script>
    <script src="../static/js/jquery.dataTables.min.js" th:src="@{/js/jquery.dataTables.min.js}"></script>

    <title>Page pour les UEs </title>
</head>
<body>
<div class="row" style="padding: 10px 0;">
    <div style="text-align: center;">
        <!-- Utilisation du bouton bootstrap -->
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#form_Ajouter_UE" style="border-radius: 50%;">
            ADD
        </button>
    </div>
</div>

<!-- Boite Modal pour ajouter UE-->
<div class="modal fade" id="form_Ajouter_UE">
    <div class="modal-dialog">
        <div class="modal-content">
            <!--modal Header-->
            <div class="modal-header">
                <h4 class="modal-title">
                    Ajouter un UE
                </h4>
            </div>
            <!-- Modal Body -->
            <form th:action="@{/ajouter_ue}" method="post">
                <div class="modal-body">
                    <!-- Utilisation de classes pour aligner les éléments -->
                    <div class="form-group">
                        <label for="code">Code</label>
                        <input type="text" class="form-control" id="code" name="code" required />
                    </div>

                    <div class="form-group">
                        <label for="libelle">Libelle</label>
                        <input type="text" class="form-control" id="libelle" name="libelle" required />
                    </div>

                    <div class="form-group">
                        <label for="credit">Credits</label>
                        <input type="text" class="form-control" id="credit" name="credit" required />
                    </div>

                    <div class="form-group">
                        <label for="coefficient">Coefficient</label>
                        <input type="text" class="form-control" id="coefficient" name="coefficient" required />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button class="btn btn-outline-success" type="submit">Ajouter UE</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Debut Lister de UEs -->
<div class="table-responsive">
    <table class="table table-bordered table-striped" id="table_UE">
        <thead>
        <tr>
            <th>ID</th>
            <th>Libelle</th>
            <th>Code</th>
            <th>Credit</th>
            <th>Coefficient</th>
            <th colspan="2">Operations</th>
            <th>Details</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="ue:${listeDesUE}">
            <!-- Utilisation de th:text pour définir le texte des cellules -->
            <td th:text="${ue.id}"></td>
            <td th:text="${ue.libelle}"></td>
            <td th:text="${ue.code}"></td>
            <td th:text="${ue.credit}"></td>
            <td th:text="${ue.coefficient}"></td>
            <td>
                <button
                        class="btn btn-danger"
                        data-title="Delete"
                        data-toggle="modal"
                        th:attr="data-target='#form_Supprimer_UE'+${ue.id}">
                    Delete
                </button>
            </td>
            <td>
                <button
                        class="btn btn-info"
                        data-title="Edit"
                        data-toggle="modal"
                        th:attr="data-target='#form_Modifier_UE'+${ue.id}"
                >
                    Modifier
                </button>
            </td>
            <td>
                <!-- Utilisation de th:href pour définir l'URL -->
                <a class="btn btn-primary btn-sm" th:href="@{/details_ue(id=${ue.id})}">Voir</a>
            </td>

            <!-- Boite modal pour modifier UE -->

            <div class="modal fade" th:attr="id='form_Modifier_UE'+${ue.id}">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <!--modal Header-->
                        <div class="modal-header">
                            <h4 class="modal-title">
                                Modifier un UE
                            </h4>
                        </div>
                        <!-- Modal Body -->
                        <form th:action="@{/modifier_ue}" method="post">
                            <div class="modal-body">
                                <div style="display: none;">
                                    <input type="text" name="id" id="id" th:value="${ue.id}">
                                </div>
                                <div class="form-group">
                                    <label for="code">Code</label>
                                    <input type="text" class="form-control" id="code" name="code" th:value="${ue.code}" />
                                </div>
                                <div class="form-group">
                                    <label for="libelle">Libelle</label>
                                    <input type="text" class="form-control" id="libelle" name="libelle" th:value="${ue.libelle}" />
                                </div>
                                <div class="form-group">
                                    <label for="credit">Credits</label>
                                    <input type="text" class="form-control" id="credit" name="credit" th:value="${ue.credit}" />
                                </div>
                                <div class="form-group">
                                    <label for="coefficient">Coefficient</label>
                                    <input type="text" class="form-control" id="coefficient" name="coefficient" th:value="${ue.coefficient}" />
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                <button class="btn btn-primary" type="submit">Modifier UE</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>


            <!-- Boite modal pour supprimer UE -->
            <div class="modal fade" th:attr="id='form_Supprimer_UE'+${ue.id}">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <!--modal Header-->
                        <div class="modal-header">
                            <h4 class="modal-title">
                                Supprimer un UE
                            </h4>
                        </div>
                        <!-- Modal Body -->
                        <form th:action="@{/supprimer_ue}" method="post">
                            <div class="modal-body">
                                <div style="display: none;">
                                    <input type="text" name="id" id="id" th:value="${ue.id}">
                                </div>
                                <div class="form-group">
                                    <label for="code">Code</label>
                                    <input type="text" class="form-control" id="code" name="code" th:value="${ue.code}" readonly />
                                </div>
                                <div class="form-group">
                                    <label for="libelle">Libelle</label>
                                    <input type="text" class="form-control" id="libelle" name="libelle" th:value="${ue.libelle}" readonly />
                                </div>
                                <div class="form-group">
                                    <label for="credit">Credits</label>
                                    <input type="text" class="form-control" id="credit" name="credit" th:value="${ue.credit}" readonly />
                                </div>
                                <div class="form-group">
                                    <label for="coefficient">Coefficient</label>
                                    <input type="text" class="form-control" id="coefficient" name="coefficient" th:value="${ue.coefficient}" readonly />
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                <button class="btn btn-danger" type="submit">Supprimer UE</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>


        </tr>
        </tbody>
    </table>
</div>
<!-- Script jQuery pour initialiser le plugin DataTable --><script>
    $(document).ready(function(){
        /* Commentaire: La fonction $(document).ready() s'exécute lorsque le document HTML est complètement chargé. */

        $("#table_UE").DataTable({});
        /* Commentaire: Sélectionne l'élément avec l'ID "table_UE" et initialise le plugin DataTable. */

        /* Note: Ce script utilise la bibliothèque jQuery et le plugin DataTable pour améliorer la fonctionnalité de la table. */
    });
</script>

</body>
</html>
